<?xml version="1.0"?>
<robot name="blob000">
  <link name="cardboard_box">
    <contact>
      <lateral_friction value="100.5"/>
      <rolling_friction value="100.0"/>
      <inertia_scaling value="3.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>

      <origin rpy="2.8059790000e-02 6.3761090100e+00 -2.1813690000e-02" xyz="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="5.4452046169e+01" ixy="4.3699994440e-02" ixz="1.5889617656e-01" iyy="6.3542713578e+01" iyz="-1.5943531740e-02" izz="6.7035213304e+01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="cardboard_box_45.dae" scale="0.0325 0.0125 0.0325"/>
      </geometry>
      <material name="blockmat">
        
        <color rgba="0.54 0.51 1.00 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="cardboard_box_45.dae" scale="0.0325 0.0125 0.0325"/>
      </geometry>
    </collision>
  </link>
</robot>
